<%- include('../layouts/header.ejs') -%>


    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="assets/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                          
                        </div>
              
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>        
        </div>
        </div>
    </div>
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great Books up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="assets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <li><!-- In your navigation bar or header section -->
                                    
                                        <% if (user) { %>
                                            <!-- If user is logged in, show logout button -->
                                            <li><a href="/logout">Logout</a></li>
                                        <% } else { %>
                                            <!-- If user is not logged in, show login button -->
                                            <li><a href="/login">Log In / Sign Up</a></li>
                                        <% } %>
                                    
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block"  style="background: white;">
            <div class="container">
                <div class="container" >
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="assets/imgs/theme/icons/homelogo.jpeg" alt="logo"></a>
                        <h2 style="font-size: 23px;margin-top: -38px; padding-bottom: 19px;">BookStore</h2>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2" >
                            <form class="d-flex justify-content-between" >
                                <!-- This input field is initially hidden -->
                                <input type="text" name="search" class="form-control" id="search_input" placeholder="Search Here" style="display: none;">
                                <!-- <input type="submit"> -->
                                <span id="close_search" title="Close Search"></span>
                            </form>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                         
                                </div>
                                <div class="nav-item "><a class="nav-link" href="/account" ><i class="fas fa-user"></i></a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar" style="background: whitesmoke;">
            <div class="container" >
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                       
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block" style="margin-left: 300px;">
                            <nav>
                                <ul>
                                    <li><a  href="/">Home </a>
                                    </li>
                                    <li>
                                        <a  href="/product">All Books</a>
                                    </li>
                                    <li><a href="shop-grid-right.html">Shop</i></a>
                                        
                                    </li>
                                    <!-- <li class="position-static"><a href="#">All Categories </a>
                                        
                                    </li> -->
                                    <li><a href="/account">Account</a>
                                        
                                    </li>
                                    <li><a href="#"> About  </a>
                                        
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Privacy-policy</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <!-- <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button> -->
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <!-- <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form> -->
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                               
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                               
                                    </li>
                                   
                                </ul>
                            </li>
                           
                            
                      
                           
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">offerPrice</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="cartItems">
                                    <% if (CartData && CartData.product && CartData.product.length > 0) { %>
                                        <% CartData.product.forEach(productItem => { %>
                                            <tr>
                                                <td class="image product-thumbnail">
                                                    <a href="/product?id=<%= productItem.productId._id %>">
                                                        <img src="/productimages/<%= productItem.productId.image[0] %>" alt="">
                                                    </a>
                                                </td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name">
                                                        <a href="shop-product-right.html"><%= productItem.productId.name %></a>
                                                    </h5>
                                                    <p class="font-xs">by <%=productItem.productId.author %></p>
                                                </td>
                                                <td class="price" data-title="Price">
                                                    <span>₹<%= productItem.productId.price %></span>
                                                </td>
                                                <td class="offer-price" data-title="Offer Price">
                                                    <% if (productItem.offer && productItem.offer.percentage > 0) { %>
                                                        <% 
                                                            var offerPrice = productItem.productId.price * (1 - productItem.offer.percentage / 100); 
                                                        %>
                                                        <span>₹<%= offerPrice.toFixed(2) %></span>
                                                    <% } else { %>
                                                        <p>no offer</p>
                                                    <% } %>
                                                </td>
                                                <td class="text-center" data-title="Stock">
                                                    <div class="product_count">
                                                        <label for="qty">Quantity:</label>
                                                        <input type="number" name="qty" id="sst_<%= productItem.productId._id %>" value="<%= productItem.Quantity %>" title="Quantity:" class="input-text qty" readonly style="width: 60px; height: 20px;">
                                                        <button onclick="incrementQuantity('<%= productItem.productId._id %>')" class="increase items-count" type="button">
                                                            <i class="lnr lnr-chevron-up"></i>+
                                                        </button> 
                                                        <button onclick="decrementQuantity('<%= productItem.productId._id %>')" class="reduced items-count" type="button">
                                                            <i class="lnr lnr-chevron-down"></i>-
                                                        </button>
                                                        <div id="errorMessage_<%= productItem.productId._id %>"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <span>
                                                        <h5 id="tPrice_<%= productItem.productId._id %>" name="totalPrice1">
                                                            <% if (productItem.offer && productItem.offer.percentage > 0) { %>
                                                                <% 
                                                                    var Price = productItem.productId.price * (1 - productItem.offer.percentage / 100) * productItem.Quantity; 
                                                                %>
                                                                <span>₹<%= Price.toFixed(2) %></span>
                                                            <% } else { %>
                                                                ₹<%= productItem.productId.price * productItem.Quantity %>
                                                            <% } %>
                                                        </h5>
                                                    </span>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning" onclick="confirmRemove('<%= productItem.productId._id %>')">Remove</button>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6" class="text-center">
                                                <p class="text-muted">Cart is empty.</p>
                                                <!-- Optionally, you can add a link to redirect users to the product listing or shopping page -->
                                                <a href="/product" class="btn btn-primary">Shop Now</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn " href="/"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount">
                                                        <span class="font-lg fw-900 text-brand">
                                                            <% if (CartData && CartData.product && CartData.product.length > 0) { %> 
                                                                <span id="totalSum"></span>
                                                            <% } else { %> 
                                                                <p>Cart is empty</p>
                                                            <% } %>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="<%= (CartData && CartData.product && CartData.product.length > 0) ? '/checkout' : '#' %>" class="btn <%= (CartData && CartData.product && CartData.product.length > 0) ? '' : 'disabled' %>">
                                        <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid" style="background-color: white;">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/icons/homelogo.jpeg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                          
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                         
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2024, <strong class="text-brand">Booktore</strong> - online book shop </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">bookstore.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- ====================add to cart msg======================== -->

      <!-- <script>
        async function incrementQuantity(productId, Saleprice) {
            try {
                const QuantityElement = document.getElementById('sst_' + productId);
                let Quantity = parseInt(QuantityElement.value);
    
                const response = await fetch(`/quantitymanagement?action=increase&id=${productId}&Quantity=${Quantity}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
    
                if (response.ok) {
                    Quantity += 1;
                    QuantityElement.value = Quantity;
                    updateTotalPrice(productId, Saleprice, Quantity);
                    const totalSumElement = document.getElementById('totalSum');
                    if (totalSumElement) {
                        totalSumElement.textContent = calculateTotalSum();
                    }
                } else {
                    const data = await response.json();
                    showMessage(data.message, productId);
    const errorMessageElement = document.getElementById('errorMessage_' + productId);
    errorMessageElement.textContent = data.message; // Display error message
    
    // Display the error message for 2 seconds
    errorMessageElement.style.display = 'block'; // Show the error message
    setTimeout(() => {
        errorMessageElement.style.display = 'none'; // Hide the error message after 2 seconds
    }, 3000); // 2000 milliseconds = 2 seconds
}
            } catch (error) {
                console.error('An error occurred:', error);
            }
        }
    
        async function decrementQuantity(productId, Saleprice) {
            try {
                const QuantityElement = document.getElementById('sst_' + productId);
                let Quantity = parseInt(QuantityElement.value);
    
                if (Quantity > 1) {
                    Quantity -= 1;
                    QuantityElement.value = Quantity;
                    updateTotalPrice(productId, Saleprice, Quantity);
                    const totalSumElement = document.getElementById('totalSum');
                    if (totalSumElement) {
                        totalSumElement.textContent = calculateTotalSum();
                    }
    
                    const response = await fetch(`/quantitymanagement?action=decrease&id=${productId}&Quantity=${Quantity}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
    
                    if (!response.ok) {
                        const data = await response.json();
                        showMessage(data.message, productId);
                        document.getElementById('errorMessage_' + productId).textContent = data.message; // Display error message
                    }
                    
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        }
    
        function updateTotalPrice(productId, Saleprice, Quantity) {
            const totalPriceElement = document.getElementById('tPrice_' + productId);
            if (totalPriceElement) {
                totalPriceElement.textContent = '₹' + (Saleprice * Quantity).toFixed(2);
            }
        }
    
        function calculateTotalSum() {
            const tPriceElements = document.querySelectorAll('[id^="tPrice_"]');
            let totalSum = 0;
            tPriceElements.forEach(element => {
                const priceText = element.textContent.replace('₹', '');
                const price = parseFloat(priceText);
                totalSum += price;
            });
            return totalSum.toFixed(2);
        }
    
        function showMessage(message, productId) {
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            messageElement.classList.add('added-message');
            document.getElementById('errorMessage_' + productId).appendChild(messageElement);
    
            setTimeout(() => {
                messageElement.style.display = 'none';
            }, 2000);
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            const totalSumElement = document.getElementById('totalSum');
            if (totalSumElement) {
                totalSumElement.textContent = calculateTotalSum();
            }
        });
    
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('removeButton')) {
                const productId = event.target.getAttribute('data-product-id');
                confirmRemove(productId);
            }
        });
    
        function confirmRemove(productId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to remove this item!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    performGetRequest(productId);
                }
            });
        }
    
        function performGetRequest(productId) {
            window.location.href = `/deleteCartitem?id=${productId}`;
        }
    </script> -->
    <!-- <script>
        async function incrementQuantity(productId, price, offerPercentage) {
    try {
        const QuantityElement = document.getElementById('sst_' + productId);
        let Quantity = parseInt(QuantityElement.value);

        const response = await fetch(`/quantitymanagement?action=increase&id=${productId}&Quantity=${Quantity}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            Quantity += 1;
            QuantityElement.value = Quantity;
            updateTotalPrice(productId, parseFloat(price), parseFloat(offerPercentage), Quantity);
            updateTotalSum();
        } else {
            const data = await response.json();
            showMessage(data.message, productId);
            showErrorMessage(productId, data.message);
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

async function decrementQuantity(productId, price, offerPercentage) {
    try {
        const QuantityElement = document.getElementById('sst_' + productId);
        let Quantity = parseInt(QuantityElement.value);

        if (Quantity > 1) {
            Quantity -= 1;
            QuantityElement.value = Quantity;
            updateTotalPrice(productId, parseFloat(price), parseFloat(offerPercentage), Quantity);
            updateTotalSum();

            const response = await fetch(`/quantitymanagement?action=decrease&id=${productId}&Quantity=${Quantity}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                const data = await response.json();
                showMessage(data.message, productId);
                showErrorMessage(productId, data.message);
            }
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

    
        function updateTotalPrice(productId, price, offerPercentage, Quantity) {
            const totalPriceElement = document.getElementById('tPrice_' + productId);
            if (totalPriceElement) {
                let totalPrice;
                if (offerPercentage > 0) {
                    totalPrice = price * (1 - offerPercentage / 100) * Quantity;
                } else {
                    totalPrice = price * Quantity;
                }
                totalPriceElement.textContent = '₹' + totalPrice.toFixed(2);
            }
        }
    
        function updateTotalSum() {
            const tPriceElements = document.querySelectorAll('[id^="tPrice_"]');
            let totalSum = 0;
            tPriceElements.forEach(element => {
                const priceText = element.textContent.replace('₹', '');
                const price = parseFloat(priceText);
                totalSum += price;
            });
            const totalSumElement = document.getElementById('totalSum');
            if (totalSumElement) {
                totalSumElement.textContent = '₹' + totalSum.toFixed(2);
            }
        }
    
        function showMessage(message, productId) {
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            messageElement.classList.add('added-message');
            document.getElementById('errorMessage_' + productId).appendChild(messageElement);
    
            setTimeout(() => {
                messageElement.style.display = 'none';
            }, 2000);
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            updateTotalSum();
        });
    
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('removeButton')) {
                const productId = event.target.getAttribute('data-product-id');
                confirmRemove(productId);
            }
        });
    
        function confirmRemove(productId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to remove this item!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    performGetRequest(productId);
                }
            });
        }
    
        function performGetRequest(productId) {
            window.location.href = `/deleteCartitem?id=${productId}`;
        }
    </script>
    
     -->

    <!-- <script>
    async function incrementQuantity(productId, price, offerPercentage) {
    try {
        const QuantityElement = document.getElementById('sst_' + productId);
        let Quantity = parseInt(QuantityElement.value);

        const response = await fetch(`/quantitymanagement?action=increase&id=${productId}&Quantity=${Quantity}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            Quantity += 1;
            QuantityElement.value = Quantity;
            updateTotalPrice(productId, parseFloat(price), parseFloat(offerPercentage), Quantity);
            updateTotalSum();
            console.log(updateTotalSum())
        } else {
            const data = await response.json();
            showMessage(data.message, productId);
            showErrorMessage(productId, data.message);
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

async function decrementQuantity(productId, price, offerPercentage) {
    try {
        const QuantityElement = document.getElementById('sst_' + productId);
        let Quantity = parseInt(QuantityElement.value);

        if (Quantity > 1) {
            Quantity -= 1;
            QuantityElement.value = Quantity;
            updateTotalPrice(productId, parseFloat(price), parseFloat(offerPercentage), Quantity);
            updateTotalSum();

            const response = await fetch(`/quantitymanagement?action=decrease&id=${productId}&Quantity=${Quantity}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                const data = await response.json();
                showMessage(data.message, productId);
                showErrorMessage(productId, data.message);
            }
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

function updateTotalPrice(productId, price, offerPercentage, Quantity) {
    const totalPriceElement = document.getElementById('tPrice_' + productId);
    if (totalPriceElement) {
        let totalPrice;
        if (offerPercentage > 0) {
            totalPrice = price * (1 - offerPercentage / 100) * Quantity;
        } else {
            totalPrice = price * Quantity;
        }
        totalPriceElement.textContent = '₹' + totalPrice.toFixed(2);
    }
}

function updateTotalSum() {
    console.log("Updating total sum...");

    const tPriceElements = document.querySelectorAll('[id^="tPrice_"]');
    let totalSum = 0;
    tPriceElements.forEach(element => {
        const priceText = element.textContent.replace('₹', '');
        const price = parseFloat(priceText);
        totalSum += price;
    });
    const totalSumElement = document.getElementById('totalSum');
    if (totalSumElement) {
        totalSumElement.textContent = '₹' + totalSum.toFixed(2);
    }
}

function showMessage(message, productId) {
    const messageElement = document.createElement('div');
    messageElement.textContent = message;
    messageElement.classList.add('added-message');
    document.getElementById('errorMessage_' + productId).appendChild(messageElement);

    setTimeout(() => {
        messageElement.style.display = 'none';
    }, 2000);
}

document.addEventListener('DOMContentLoaded', function () {
    updateTotalSum();
});

document.addEventListener('click', function (event) {
    if (event.target.classList.contains('removeButton')) {
        const productId = event.target.getAttribute('data-product-id');
        confirmRemove(productId);
    }
});

function confirmRemove(productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to remove this item!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            performGetRequest(productId);
        }
    });
}

function performGetRequest(productId) {
    window.location.href = `/deleteCartitem?id=${productId}`;
}

    </script> -->
    <!-- <script>
    async function incrementQuantity(productId, price, offerPercentage) {
    try {
        const QuantityElement = document.getElementById('sst_' + productId);
        let Quantity = parseInt(QuantityElement.value);

        const response = await fetch(`/quantitymanagement?action=increase&id=${productId}&Quantity=${Quantity}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            Quantity += 1;
            QuantityElement.value = Quantity;
            updateTotalPrice(productId, parseFloat(price), parseFloat(offerPercentage), Quantity);
            updateTotalSum();
            console.log(updateTotalSum())
        } else {
            const data = await response.json();
            showMessage(data.message, productId);
            showErrorMessage(productId, data.message);
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

async function decrementQuantity(productId, price, offerPercentage) {
    try {
        const QuantityElement = document.getElementById('sst_' + productId);
        let Quantity = parseInt(QuantityElement.value);

        if (Quantity > 1) {
            Quantity -= 1;
            QuantityElement.value = Quantity;
            updateTotalPrice(productId, parseFloat(price), parseFloat(offerPercentage), Quantity);
            updateTotalSum();

            const response = await fetch(`/quantitymanagement?action=decrease&id=${productId}&Quantity=${Quantity}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                const data = await response.json();
                showMessage(data.message, productId);
                showErrorMessage(productId, data.message);
            }
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

function updateTotalPrice(productId, price, offerPercentage, Quantity) {
    const totalPriceElement = document.getElementById('tPrice_' + productId);
    if (totalPriceElement) {
        let totalPrice;
        if (offerPercentage > 0) {
            totalPrice = price * (1 - offerPercentage / 100) * Quantity;
        } else {
            totalPrice = price * Quantity;
        }
        totalPriceElement.textContent = '₹' + totalPrice.toFixed(2);
    }
}

function updateTotalSum() {
    console.log("Updating total sum...");

    const tPriceElements = document.querySelectorAll('[id^="tPrice_"]');
    let totalSum = 0;
    tPriceElements.forEach(element => {
        const priceText = element.textContent.replace('₹', '');
        const price = parseFloat(priceText);
        totalSum += price;
    });
    const totalSumElement = document.getElementById('totalSum');
    if (totalSumElement) {
        totalSumElement.textContent = '₹' + totalSum.toFixed(2);
    }
}

function showMessage(message, productId) {
    const messageElement = document.createElement('div');
    messageElement.textContent = message;
    messageElement.classList.add('added-message');
    document.getElementById('errorMessage_' + productId).appendChild(messageElement);

    setTimeout(() => {
        messageElement.style.display = 'none';
    }, 2000);
}

document.addEventListener('DOMContentLoaded', function () {
    updateTotalSum();
});

document.addEventListener('click', function (event) {
    if (event.target.classList.contains('removeButton')) {
        const productId = event.target.getAttribute('data-product-id');
        confirmRemove(productId);
    }
});

function confirmRemove(productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to remove this item!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            performGetRequest(productId);
        }
    });
}

function performGetRequest(productId) {
    window.location.href = `/deleteCartitem?id=${productId}`;
}

    </script> -->
    <script>
        function incrementQuantity(productId) {
            $.ajax({
                url: '/quantitymanagement',
                method: 'GET',
                data: {
                    id: productId,
                    action: 'increase'
                },
                success: (response) => {
                    if (response.success) {
                        updateCart();
                    } else {
                        Swal.fire({
                            title: 'Error',
                            icon: 'error',
                            text: response.message,
                            timer: 3000
                        });
                    }
                },
                error: (error) => {
                    Swal.fire({
                        title: 'Error',
                        icon: 'error',
                        text: error.responseJSON.message,
                        timer: 2000
                    });
                }
            });
        }
    
        function decrementQuantity(productId) {
            $.ajax({
                url: '/quantitymanagement',
                method: 'GET',
                data: {
                    id: productId,
                    action: 'decrease'
                },
                success: (response) => {
                    if (response.success) {
                        updateCart();
                    } else {
                        Swal.fire({
                            title: 'Error',
                            icon: 'error',
                            text: response.message,
                            timer: 3000
                        });
                    }
                },
                error: (error) => {
                    Swal.fire({
                        title: 'Error',
                        icon: 'error',
                        text: error.responseJSON.message,
                        timer: 2000
                    });
                }
            });
        }
    
        function updateCart() {
            $('#cartItems').load('/cart #cartItems > *', function() {
                updateTotalSum();
            });
        }
    
        function updateTotalPrice(productId, price, offerPercentage, Quantity) {
        const totalPriceElement = document.getElementById('tPrice_' + productId);
        if (totalPriceElement) {
            let totalPrice;
            if (offerPercentage > 0) {
                totalPrice = price * (1 - offerPercentage / 100) * Quantity;
            } else {
                totalPrice = price * Quantity;
            }
            totalPriceElement.textContent = '₹' + totalPrice.toFixed(2);
        }
    }
    
    function updateTotalSum() {
        console.log("Updating total sum...");
    
        const tPriceElements = document.querySelectorAll('[id^="tPrice_"]');
        let totalSum = 0;
        tPriceElements.forEach(element => {
            const priceText = element.textContent.replace('₹', '');
            const price = parseFloat(priceText);
            totalSum += price;
        });
        const totalSumElement = document.getElementById('totalSum');
        if (totalSumElement) {
            totalSumElement.textContent = '₹' + totalSum.toFixed(2);
        }
    }
        function confirmRemove(productId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to remove this item!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    performGetRequest(productId);
                }
            });
        }
    
        function performGetRequest(productId) {
            window.location.href = `/deleteCartitem?id=${productId}`;
        }
    
        $(document).ready(function() {
            updateTotalSum();
        });
    </script>

    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>